<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数字钥匙管理平台</title>
    <link rel="icon" href="<%=APP_METADATA.baseUrl%>favicon.ico" type="image/x-icon">
    <% if(APP_METADATA.env==='test'){ %>
        <style type="text/css">
            body:after{
                content: "Test platform";
                color: #fff;
                text-align: center;
                display: block;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                height: 23px;
                background: -webkit-gradient(linear, left 0, right 0, from(rgba(233, 35, 19, 0.6)), to(rgba(237, 101, 207, 0.6)));
                z-index: 9999999999999999;
            }
        </style>
    <% } %>
</head>
<body>
<div id="root"></div>
</body>
</html>
