<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vecentek.back.mapper.DkmVehicleCalibrationDataMapper">

    <insert id="insertPhoneCalibrationDataBatch">
        insert dkm_vehicle_calibration_data (vehicle_model, level,vehicle_and_calibration_string, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.vehicleModel},#{item.level},#{item.vehicleAndCalibrationString},#{item.createTime})
        </foreach>
    </insert>

</mapper>